<div class="dlabnav border-right">
    <div class="dlabnav-scroll">
        <p class="menu-title style-1">Main Menu</p>
        <ul class="metismenu" id="menu">
            <li>
                <a href="/" class="" aria-expanded="false">
                    <i class="bi bi-house"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="menu" class="" aria-expanded="false">
                    <i class="bi bi-journal"></i>
                    <span class="nav-text">Menu</span>
                </a>
            </li>
            <!-- <li><a href="javasript(0);" class="has-arrow " aria-expanded="false">
                <i class="bi bi-grid"></i>
                <span class="nav-text">Category</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="bakery">Bakery</a></li>
                    <li><a href="burger">Burger</a></li>
                    <li><a href="beverage">Beverage</a></li>
                    <li><a href="chicken">Chicken</a></li>
                    <li><a href="pizza">Pizza</a></li>	
                </ul>
            </li> -->

            <li class="menu-title">Other</li>
            <li>
                <a href="profile" class="" aria-expanded="false">
                    <i class="bi bi-person"></i>
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li><a href="sign_in" class="" aria-expanded="false">
                <i class="bi bi-box-arrow-right"></i>
                <span class="nav-text">Logout</span>
            </a>
            </li>
        </ul>
    </div>
</div>
