<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign in</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href="/supp/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

</head>
<body class="body">
    <div class="container mt-0">
		<div class="row align-items-center justify-contain-center">
			<div class="col-xl-12 mt-5">
				<div class="card border-0">
					<div class="card-body login-bx">
						<div class="row  mt-5">
							<div class="col-xl-8 col-md-6 sign text-center">
								<div>
									<img src="/images/login-img/pic.jpg" class="food-img" alt="">
								</div>	
							</div>
							<div class="col-xl-4 col-md-6 pe-0">
								<div class="sign-in-your">
									<div class="text-center mb-3">
										<img src="/images/logo-full.png" class="mb-3" alt="">
										<h4 class="fs-20 font-w800 text-black"></h4>
										<span class="dlab-sign-up">Sign in</span>
									</div>
									<form action="/sign_in" method="post">
										<div class="mb-3">
											<label class="mb-1" for="email"><strong>Email Address</strong></label>
											<input type="email" class="form-control" placeholder="hello@example.com" id="email" name="email">
										</div>
										<div class="mb-3">
											<label class="mb-1" for="password"><strong>Password</strong></label>
											<input type="password" class="form-control" placeholder="Password" id="password" name="password">
										</div>
										<div class="row d-flex justify-content-between mt-4 mb-2">
											<div class="mb-3">
											   <div class="form-check custom-checkbox ms-1">
													<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
													<label class="form-check-label" for="basic_checkbox_1">Remember me</label>
												</div>
											</div>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary btn-block shadow">Sign In</button>
										</div>
									</form>
									<div class="row d-flex justify-content-between mt-4 mb-2">
										<div class="text-center">
											<span>Don't have an account?<a href="sign_up" class="text-primary"> Sign up</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="./supp/global/global.min.js"></script>
	<script src="./supp/swiper/js/swiper-bundle.min.js"></script>
    <script src="./js/dlabnav-init.js"></script>
	
</body>
</html>